.idea

# Maven 构建产物
backend/target/
*target

# IDE 构建产物
out/
*.iml

# ===== 前端 =====

# 依赖
frontend/node_modules/

# 构建产物
frontend/dist/
frontend/dist-ssr/

# 本地环境变量
frontend/*.local

# 日志
frontend/logs/
frontend/*.log
frontend/npm-debug.log*
frontend/pnpm-debug.log*
*.log

# 编辑器临时文件
frontend/.vscode/*
!frontend/.vscode/extensions.json
frontend/.DS_Store
frontend/*.suo
frontend/*.ntvs*
frontend/*.njsproj
frontend/*.sln
frontend/*.sw?
