/**
 * 全局滚动条样式
 */

* {
  &::-webkit-scrollbar-track-piece {
    background-color: #e8ecf0;
  }

  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #b8c3d1;
    border-radius: 5px;

    &:hover {
      background-color: #8491a4;
    }
  }
}
